body {
    background-image: url("https://images.unsplash.com/photo-1525577288853-c6f0a020a162?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2969&q=80");
    background-repeat: no-repeat;
    background-size: 1800PX;
}
      