<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Weather View</title>
        {% endblock %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">What's Your Name?</a>
    
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row" style= 'text-align: center'>
          <div class="col-3">
            <h3>Boy Names</h3>
            <div id='chart' class='chart' >
            </div>
          </div>
          <div class="col-3">
            <h3>Girl Names</h3>
            <div id='chart1' class='chart1'”></div>
          </div>
          <div class="col-6">
            <h3>Top Names</h3>
            <div id='chart2' class='chart2'”></div>
          </div>
        </div>
        
       
        
        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      Plotly.plot('chart',graphs,{});

      var graphs1 = {{graphJSON1 | safe}};
      Plotly.plot('chart1',graphs1,{});

      var graphs2 = {{graphJSON2 | safe}};
      Plotly.plot('chart2',graphs2,{});

    </script>
      
    </body>
</html>